.formH {display:inline-block;}
.btnPlus {color: #F55; 
    background-color: #bFb;
    font-weight: bolder; 
    font-size: 16px;
    border: 1px solid #55F; 
    min-height: 35px;
    margin-left:10px;
    padding:0 3px;
    cursor:pointer;}
.addCategCont {overflow: hidden;}
.addCategShow {
 display: inline-block;
	margin-left:-800px; 
	width: 1000px; }