<div class="card bg-light">
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-4">
                    <input type="text" 
                    class="form-control"
                    id="name"
                    name="nom" 
                    value="produit.nom"
                    [(ngModel)]="produit.nom"
                    placeholder="Entrer le nom du produit">
                </div>
            </div>
            <div class="form-group row">
                <label for="prix" class="col-sm-2 col-form-label">Prix</label>
                <div class="col-sm-4">
                    <input type="text" 
                    class="form-control"
                    id=" prix "
                    name="prix"
                    [ngModel]="produit.prix" >
                </div>
            </div>
            <div class="form-group row" >
                <label for="categorie" class="col-sm-2 col-form-label">Catégorie</label>
                <div class="col-sm-4">
                    <select
                    class="form-control"
                    id="categorie"
                    name="categorie"
                    ngModel >
                    <option  >--Choisir--</option>
                    <option *ngFor="let c of categories" [ngValue]="c.id" >{{c.nom}}</option>
                    <!--<option id="categAdd" #categAdd (click)="showAddCategorie()" [ngValue]="autre" >{{autre}}</option>-->
                    </select>
                </div>
                <div class="col-sm-6" style="position:relative;">
                    <div class=" formH btnPlus" (click)="showAddCategorie()">+</div>
                    <div id="addCategCont" class="formH addCategCont" style="position: absolute; top:0"> 
                        <div class="formH addCategShow">
                            <add-categorie (categorieEvent)="ajouteCategorie($event)"></add-categorie>
                        </div>
                    </div>
                </div>

            </div>
  
            <button type="submit" class="btn btn-info offset-sm-2" *ngIf="!showRes">Enregistrer 
            </button>
            <a *ngIf="showRes" class="btn btn-success offset-sm-2" routerLink="/produits"  >Retour liste</a> 
            
        </form>
    </div>

    <div *ngIf="showRes" >
        <h4>Enregistrement terminé : {{produit.nom}} au prix de : {{produit.prix}} €</h4>
    </div>
</div>
