<div class="bg bg-light fond-body">
    <h1 class="bg bg-secondary" >ACCUEIL</h1>
    <br>
    <button id="btnImg" (click)="toggleImage()">Test JQuery</button>
    <div id="toggleImg">
        <img [src]="img">
    </div>

</div>

