<div class="card my-5 testscss">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="bg-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Catégorie</th>
            <th scope="col" class="col-1">Modif</th>
            <th scope="col" class="col-1">Suppr</th>
            
          </tr>
        </thead>
        <tbody id="showTable">
          <tr *ngFor="let produit of produits; let index = index; ">
            <td>{{ produit.id }}</td>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.prix }}</td>
            <td>{{ produit.categorie.nom }}</td>
            <td><div class="edit"  (click)="editProduit(produit)">&#x270E;</div></td>
            <td  (click)="toggle(produit)">
              <span class="del-span" >X</span>
              <div class="del-out" >
                <div class="del-in"  id="{{'sup'+produit.id }}">
                  <p>Confirmer la suppression<br> de {{produit.nom}}</p>
                  <button type="button" class="btn btn-warning del-btn"  (click)="delProduitOk(produit.id)">OK</button>
                  <button type="button" class="btn btn-info del-btn"  >Annuler</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
