.edit {
    font-size:20px;
    padding-left:25%;
    cursor:pointer; 
    transform:rotate(80deg)
}
.del-span{
    color:red; 
    font-weight:900;
    font-size:20px;
    padding-left:30%;
    cursor:pointer;
}
.del-out{
    position:relative;
}
.del-in{
    position:absolute;
    top:-60px; 
    left:-200px;
    width:200px; 
    border: 1px solid #003; 
    background:#abb; 
    z-index:10; 
    padding:10px;
    opacity:0;
    display:none
}
.del-btn {
    margin-left:20px;
    cursor:pointer;}