<div class="card my-5">
    <div class="card-body">
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)" >
            <div class="hidden">
                <input type="hidden" [(ngModel)]="produit.id" name="id" id="id">
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-4">
                    <input type="text" 
                    class="form-control"
                    id="name"
                    name="nom"
                    placeholder="Entrer le nom du produit"
                    value="produit.nom"
                    [(ngModel)]="produit.nom"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="prix" class="col-sm-2 col-form-label">Prix</label>
                <div class="col-sm-4">
                    <input type="text" 
                    class="form-control"
                    id=" prix "
                    name="prix"
                    [(ngModel)]="produit.prix"
                    myCurrencyFormatter 
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="categorie" class="col-sm-2 col-form-label">Catégorie</label>
                <div class="col-sm-4">
                    <select
                    [(ngModel)]="produit.id_categorie"
                    class="form-control"
                    id=" categorie "
                    name="categorie"
                     >
                    <option  >---</option>
                    <option *ngFor="let c of categories" [ngValue]="c.id" >{{c.nom}}</option>
                    <option id="categAdd" #categAdd (click)="showAddCategorie()" [ngValue]="autre" >{{autre}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="showAddCategory" >
                <div class="form-group row" style="border:2px solid #555; width:50%;border-radius:10px">
                
                    <label for="cat" class="col-sm-4 col-form-label">Ajout d'une autre catégorie :</label>           
                    <div class="col-sm-4">
                        <input type="text" 
                        class="form-control"
                        id="addCateg"
                        name="nom"
                        #addCateg
                        >
                    </div>
                    <button type="button" class="btn-danger col-sm-1 offset-sm-3" (click)="fermeAddCategorie()">+
                    </button>
                
                </div>
            </div >

            <button type="submit" class="btn btn-info offset-sm-2" *ngIf="!showRes">Mettre à jour 
            </button>
            <a *ngIf="showRes" class="btn btn-success offset-sm-2" routerLink="/produits"  >Retour liste</a> 
        </form>
    </div>
</div>
